// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Comforter Brush', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary:       #064857;
$secondary:     #FF00FF;
$success:       #FF00FF;
$info:          #86DCF0;
$warning:       #FF00FF;
$danger:        #FF00FF;
$light:         #E1B4FA;
$dark:          #064857;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
