.breadcrumb ul {
    display: flex;
}

.breadcrumb li::before {
    content: "→";
}

.breadcrumb li:first-child::before {
    content: "";
}
.padding{
    padding-right: 0;
    padding-left: 0;
}
body{
    width: 100vh;
    font-family: 'Abel', sans-serif !important;
    font-size: 1.2em !important;
}
main a{
    font-size: 1em !important;
}
button{
    font-size: 1em !important;
}
td, th{
    text-align: center;
}
#sortTablePlayerInChampionship_length, #sortTablePlayerInChampionship_filter,
 #sortTableDeckInChampionship_filter, #sortTableDeckInChampionship_length,
 #sortTableDeck_filter, #sortTableDeck_length,
 #sortTablePlayer_length, #sortTablePlayer_filter{
    display: inline-block;
    margin-right: 2em;
}
th{
    cursor: pointer;
}
.form-line{
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}
.figure {
    position: relative;
    text-align: center;
    color: white;
    display: block;
  }
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* These are the KEY styles - you can add them directly to any object you want in your project */
.fancy-border-radius {
    border-radius: 19% 81% 30% 70% / 70% 70% 30% 30%;
  
    /* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
    width: 200px;
    height: 200px;
    background: #ad5389;
    background: -webkit-linear-gradient(to right,
        #012E40,
        #025159);
    background: linear-gradient(to right,
        #012E40,
        #025159);
  }

.alignStatsOnAccordion{
    position: absolute;
    right: 55px;
}

  @media (max-width: 767px) {
    .marginMenu {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }


