.breadcrumb ul {
    display: flex;
}

.breadcrumb li::before {
    content: "→";
}

.breadcrumb li:first-child::before {
    content: "";
}
.padding{
    padding-right: 0;
    padding-left: 0;
}
body{
    width: 100vh;
    font-family: 'Abel', sans-serif !important;
    font-size: 1.2em !important;
}
main a{
    font-size: 1em !important;
}
button{
    font-size: 1em !important;
}
td, th{
    text-align: center;
}
#sortTablePlayerInChampionship_length, #sortTablePlayerInChampionship_filter,
 #sortTableDeckInChampionship_filter, #sortTableDeckInChampionship_length,
 #sortTableDeck_filter, #sortTableDeck_length,
 #sortTablePlayer_length, #sortTablePlayer_filter{
    display: inline-block;
    margin-right: 2em;
}
th{
    cursor: pointer;
}
.form-line{
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}




